<!-- Title section -->
<div class="container" id="title">

    <!-- Title -->
    <div class="d-flex justify-content-center p-5">
        <div>
            <h1 class="title">Page <span class="text-success">introuvable</span></h1>
        </div>
    </div>
    <!-- /Title -->

</div>
<!-- /Title section -->

<!-- Text intro -->
<div>
    <div class="text-container d-flex justify-content-center text-center">
        <div class="rounded w-75">
            <p>
                La page demandée n'est pas accessible. <br />
                Si vous pensez qu'il s'agit d'une erreur, vous pouvez
                <a (click)="toContact();">nous contacter</a>.
            </p>
            <button type="buttons"
                class="my-5 btn btn-outline-success" 
                (click)="toHomepage()">
                Retour à la page d'accueil
            </button>
        </div>
    </div>
</div>
<!-- /Text intro -->
